{% load staticfiles %}
<head xmlns="http://www.w3.org/1999/html">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=0">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" type='text/css' href="{%  static "analyser/css/styles.css" %}" />

<title>M.S.A.T.</title>
    <div id="wrapper" class="active">
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
            <li class="sidebar-brand"><a id="menu-toggle" href="#">Legend<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">
            <li><a>Link1<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
            <li><a>link2<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content inset">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        </button>
                        <a class="navbar-brand" href="http://zine.co.in/">ZINE</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% if word  %}
                                <li ><a href="{%url 'analyser:main' %}">Main Page <span class="sr-only">(current)</span></a></li>
                            {% else%}
                                <li class="active"><a href="{%url 'analyser:main' %}">Main Page <span class="sr-only">(current)</span></a></li>
                            {%endif%}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">About</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <h1>Mixed Script Analysis Tool</h1>
            </br>
            </br>
            </br>
            <div id="demo" class="blocktext">
                <div class="container-fluid">
                    <div class="col-xs-12">
                        <form class="form-group" role="search" action='/analysed/' method="POST">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="search" name="sentence" class="form-control input-lg" placeholder="Analyse">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-lg"><i class="glyphicon glyphicon-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                {% if word %}
                    <h3 style="color:#3A3A3E" >Analysed Result</h3>
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="col-md-12">
                                {% for a,b,c in word %}
                                    <span style="color:{{b}}">{{ a }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <h3 style="color:#3A3A3E" >Details</h3>
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="col-md-5">
                                {% for a,b,c in word %}
                                    <p style="color:{{b}}">{{ a }}</p>
                                {% endfor %}
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                {% for a,b,c in word %}
                                    <p style="color:{{b}}"> {{ c }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <h3 style="color:#3A3A3E" >Stats</h3>
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="col-md-12">
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>